body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #FFFCFF;
}


#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

/* todo:mudar widths para max e min para tornar responsive */
#container {
  width: 770px;
}
#semana {
  width: 100%;
  display: flex;
  color: #247BA0;
}
.dias-da-semana {
  width: 100px;
  padding: 10px;
  
 
}
#calendario {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.div-dia {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div-dia:hover {
  background-color: #e8faed;
}

.div-dia + #diaAtual {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
/* todo:*/
.div-diaPreenchimento {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
  width: 100px;
  margin: 5px;
  
  
 
}
