.ft_beeScheme {
  color: #d6aa3e !important;
}
.bg_beeScheme {
  background-color: #312428 !important;
}
.ft_whiteBlueScheme {
  color: #f8edf8 !important;
}
.bg_whiteBlueScheme {
  background-color: #a7ddf9 !important;
}
.ft_redBlackScheme {
  color: #ec6773 !important;
}
.bg_redBlackScheme {
  background-color: #5b5356 !important;
}

#body-login .wrapper {
  justify-content: center;
  margin: auto;

  text-align: center;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
h2 {
  text-transform: capitalize;
  text-shadow: -1px 1px #5e4040;
  letter-spacing: 0.05em;
  margin-top: 0px;
  margin-bottom: 0px;
}
a {
  text-decoration: none;
  color: #505050;
  font-weight: bold;
}
a:hover {
  /* text-decoration: dashed; */
  text-decoration: underline;
  color: #3030a3;
}
a:visited {
  color: #3030a3;
}

#register {
  display: flex;
  flex-direction: column;
}

.div-formLogin {
  /*! padding: 50px 0; */
  margin: 0 auto;
}
.wrapper-signup {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 8;
  min-width: 40%;
  align-items: center;
  gap: rem;
  margin-top: 5rem;
}

.wrapper-signup div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

form:focus {
  border: 1px solid #00000063
}

form {
  min-width: 15rem;
  min-height: 30rem;
  padding: 25px;
  border: 1px solid;
  border-color: #00000033;
  border-radius: 1rem;
  min-height: 50vh;
}

input:focus {
  box-shadow: 0px 0px 3px #202020;
}

.wrapper-signup .div-submit {
  /* margin-top: 10rem; */
  /* justify-self: flex-start; */
  /* align-self: flex-end; */
  /* margin-top: auto; */
  margin-top: 6rem;
}

button#btn-sign-up {
  background-color: #92a1d1;
}
#body-login h1 {
  color: #d36c6c;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5em;
}
#body-calendario h1 {
}
h1 {
  color: #d36c6c;
  text-shadow: -1px 1px #5e4040;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
}
input {
  border-width: 0 0 1px 0;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}
.password {
  margin-top: 1em;
}
#submit {
  margin-top: 1.5em;
  background-color: #92a1d1;
  border-width: 0 0 1px 0;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
#body-calendario {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #fffcff;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px grey;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#colorSchemes {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: auto;
}

#header button {
  background-color: #58bae4fc;
  /*! min-width: fit-content; */
}

#header button:hover {
  background-color: #389ac3;
}

#header canvas {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
}

/* todo:mudar widths para max e min para tornar responsive */
.wrapper {
  width: 770px;
}
#semana {
  width: 100%;
  display: flex;
  color: #247ba0;
  font-weight: bold;
  /* margin-left: 1.1em; */
}
.dias-da-semana {
  width: 100px;
  padding: 10px;
}
.dias-da-semana:not(:first-child) {
  margin-left: 1.125em;
}
#calendario {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.div-dia {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div-dia:hover {
  /* background-color: #e8faed;
   */
  background-color: #f1fff5;
  border: 1px #209080 solid;
}

.div-dia + #diaAtual {
  background-color: #e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
/* todo:*/
.div-diaPreenchimento {
  cursor: default !important;
  /* background-color: #fffcff !important; */
  box-shadow: none !important;
  width: 100px;
  margin: 5px;
}
.eventos:hover {
  background-color: #389ac3;
}
.eventos {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  background-color: hsla(120, saturation, lightness, alpha);
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
#modalNovoEvento,
#modalDeletarEvento,
#modalEditarEvento {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
.div-tempo {
  margin-bottom: 25px;
}
#inputEventoTitulo,
#me_inputEventoTitulo {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#inputEventoDescricao,
#me_inputEventoDescricao {
  padding-bottom: 55px;
  max-width: 100%;
  height: 75px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#modalDeletarEvento div {
  margin-top: 10px;
  margin-bottom: 10px;
}

#eventoComeco,
#eventoFim,
#me_eventoComeco,
#me_inputEventoFim {
  display: inline-block;
  font-weight: bolder;
  margin-right: 20px;
}

#inputEventoTitulo.error,
#me_inputEventoTitulo {
  border: 2px solid red;
}
div[id^="modal"] button:active {
  width: 80px;
  padding: 6px;
}

#buttonDeletar,
#me_buttonCancelar {
  background-color: #d36c6c;
}
#buttonDeletar:hover,
#me_buttonCancelar:hover {
  background-color: #c34c4c;
}
#buttonFechar,
#buttonCancelar {
  background-color: #404040;
}
#buttonFechar:hover,
#buttonCancelar:hover {
  background-color: #202020;
}

#buttonCriar,
#me_buttonSalvar {
  background-color: #92a1d1;
}
#buttonCriar:hover,
#me_buttonSalvar:hover {
  background-color: #8291e1;
}

#buttonEditar {
  background-color: #a0a0a0;
}
#buttonEditar:hover {
  background-color: #909090;
}

#eventoTitulo {
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: normal;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
